server:
  port: 8080

spring:
  application:
    name: api-gateway


management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      access: unrestricted
